apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: streaming
spec:
  type: LoadBalancer
  selector:
    app: jellyfin
  ports:
    - protocol: TCP
      port: 8096
      targetPort: 8096
      name: http
