apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      nodeSelector:
        role: jellyfin-storage
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8096
              name: http
          env:
            - name: TZ
              value: "America/Toronto"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: media
              mountPath: /media
      volumes:
        - name: config
          hostPath:
            path: /srv/jellyfin/config
            type: DirectoryOrCreate
        - name: cache
          hostPath:
            path: /srv/jellyfin/cache
            type: DirectoryOrCreate
        - name: media
          hostPath:
            path: /srv/media
            type: DirectoryOrCreate
