apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.5.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system

  install:
    remediation:
      retries: 3

  upgrade:
    remediation:
      retries: 3

  values:
    grafana:
      service:
        type: LoadBalancer

  valuesFrom:
    - kind: Secret 
      name: grafana-admin
      valuesKey: adminPassword
      targetPath: grafana.adminPassword

    prometheus:
      service:
        type: LoadBalancer

    alertmanager:
      service:
        type: LoadBalancer
