apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      nodeSelector:
        role: streaming
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:latest
          imagePullPolicy: Always
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          ports:
            - containerPort: 8989
              name: http
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
            - name: tv
              mountPath: /tv
          resources:
            requests:
              cpu: "50m"
              memory: "200Mi"
            limits:
              cpu: "300m"
              memory: "500Mi"
      volumes:
        - name: config
          hostPath:
            path: /srv/streaming/sonarr/config
            type: DirectoryOrCreate
        - name: downloads
          hostPath:
            path: /srv/media/downloads
            type: DirectoryOrCreate
        - name: tv
          hostPath:
            path: /srv/media/TV
            type: DirectoryOrCreate
