apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
  namespace: streaming
  labels:
    app: flaresolverr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaresolverr
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      nodeSelector:
        role: streaming
      containers:
        - name: flaresolverr
          image: ghcr.io/flaresolverr/flaresolverr:latest
          imagePullPolicy: Always
          env:
            - name: LOG_LEVEL
              value: info
            - name: CAPTCHA_SOLVER
              value: none
            - name: BROWSER_TIMEOUT
              value: "60000"
            - name: MAX_TIMEOUT
              value: "60000"
          ports:
            - containerPort: 8191
              name: http
          resources:
            requests:
              cpu: "200m"
              memory: "300Mi"
            limits:
              cpu: "1000m"   # 1 CPU
              memory: "800Mi"
