apiVersion: v1
kind: Service
metadata:
  name: flaresolverr
  namespace: streaming
spec:
  type: ClusterIP
  selector:
    app: flaresolverr
  ports:
    - name: http
      port: 8191
      targetPort: 8191
      protocol: TCP
