apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      nodeSelector:
        role: streaming
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:latest
          imagePullPolicy: Always
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          ports:
            - containerPort: 9696
              name: http
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              cpu: "50m"
              memory: "150Mi"
            limits:
              cpu: "300m"
              memory: "400Mi"
      volumes:
        - name: config
          hostPath:
            path: /srv/streaming/prowlarr/config
            type: DirectoryOrCreate

