apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: streaming
spec:
  type: LoadBalancer
  selector:
    app: prowlarr
  ports:
    - protocol: TCP
      port: 9696
      targetPort: 9696
      name: http
