apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      nodeSelector:
        role: jellyfin-storage
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:latest
          imagePullPolicy: Always
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          ports:
            - containerPort: 7878
              name: http
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
            - name: movies
              mountPath: /movies
          resources:
            requests:
              cpu: "50m"
              memory: "200Mi"
            limits:
              cpu: "300m"
              memory: "500Mi"
      volumes:
        - name: config
          hostPath:
            path: /srv/streaming/radarr/config
            type: DirectoryOrCreate
        - name: downloads
          hostPath:
            path: /srv/media/downloads
            type: DirectoryOrCreate
        - name: movies
          hostPath:
            path: /srv/media/Movies
            type: DirectoryOrCreate
