apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: streaming
spec:
  type: LoadBalancer
  selector:
    app: radarr
  ports:
    - protocol: TCP
      port: 7878
      targetPort: 7878
      name: http
